<form action="/recipe" method="post" >
  <div>
    <label for="name">Enter the recipe name: </label>
    <input type="text" name="name" id="name" required>  
  </div>
  <div>
    <label for="description">Enter the recipe description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div> 
    <label for="rating">Please give it a grade between 1 and 5: </label>
    <input type="text" name="rating" id="rating" required>
  </div>
  <div>
    <label for="duration">What is the duration: </label>
    <input type="text" name="duration" id="duration" required>
  </div>
  <div>
    <input type="submit" value="Send!">
  </div>
</form>